nz-divider {
    margin: 0px;
}
h2 {
    color: #989265;
    margin: 1rem -1rem;
    text-align: center;
}
i {
    font-size: 3rem;
    color: #FEFAE6;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
